@{
    ViewData["Title"] = "Listado de personas a compensar";
    ViewData["Subtitle"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mt-4 mx-auto">
    <div class="card-body">
        <h4>Listado de personas a compensar</h4>
        @if (ViewBag.error != null)
        {
            <div class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @ViewBag.error
            </div>
        }


        <div id="gridContainer" class="row-lm marginTop10 aux-selection"></div>

    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/moment.js"></script>
    <script type="text/javascript" src="~/js/tables/PersonaListadoScript.js"></script>
}